<div class="background-full background-color background-bottom" id="who-are-you">
    <div class="container">
        <h1>Kim jesteś?</h1>

        <div class="users">
        <% @users.each do |user| %>
            <%= link_to user.name, session_login_path(id: user.id), method: :post, class: 'btn btn-lg btn-default' %>
        <% end %>
        </div>

    </div>
</div>
