<div id="lottery" class="background-image background-full">
  <div class="container">
    <h1>
      Wybierz rybke <%= @user.name %>
    </h1>
    <p>
    <%= link_to 'nie teraz...', session_logout_path, method: :post %>
    </p>
  </div>

  <% @draws.each do |draw| %>
      <%= render partial: 'draw', locals: { user: draw } %>
  <% end %>
</div>