@import "bootstrap-sprockets";
@import "bootstrap";

body.bkg {
  background: image-url('bkg0.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.container {
  background-color: rgba(255,255,255,0.7);
  margin: 0 auto;
  margin-top: 7%;
  padding: 20px;
  width: 80%;
}

div.users {
  margin-top: 20px;
}

div.users a {
  display: inline-block;
  margin-bottom: 10px ;
}


.draw {
  width: 125px;
  height: 125px;
  margin: 20px 10px 0 10px;
}

div.my-form-inline form {
  float: left
}
